
.env
*.env
*.whl
.idea
.vscode
*/.idea
*/.vscode
*/__pycache__
__pycache__/
*.py[cod]
.coverage
.obsidian
*/.coverage
*/.obsidian

*.sqlite3
*.sqlite
*.db
*/restats
/.pytest_cache
.cache
*.pid
*.sock
*.log
*.pem
*.crt

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

venv/
db/
